# Python
__pycache__/
*.py[cod]
*.so

# Virtual Environment
venv/
env/
.venv/

# Environment variables
.env
.env.*

# Logs
*.log
logs/

# Node
node_modules/
build/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Testing
.pytest_cache/
.coverage
htmlcov/